<VirtualHost *:{{ httpd_port }}>
    ProxyPass / http://{{ tomcat_address }}:{{ app_port }}/{{ app_name }}/
    ProxyPassReverse / http://{{ tomcat_address }}:{{ app_port }}/{{ app_name }}/
</VirtualHost>
